html {
    width: 62.5%;
}

h1 {
    font-size: 2.4rem;
    color: blue;
    font-weight: 700;
    font-style: italic;
}

h2 {
    font-size: 2.0rem;
    color: #0000ff;
    font-weight: 700;
}

h3 {
    font-size: 1rem;
    color: teal;
    font-weight: 700;
}

p {
    color: #4D4D4D;
}

header {
    background-image: url('./img/apex.jpeg');
    background-repeat: no-repeat;
    text-align: center;
    width: 3.3rem;
}

header p {
    font-weight: 700;
    color: aqua;
}

header h1 {
    color: red;
}

a {
    color: #8A2BE2;
    text-decoration: none;
}

main img {
    width: 50vh;
    height: 50vw;
}

article {
    border: solid #0000ff 5px;
    border-left-width: 20px;
}