main {
    display: flex;
    min-width: 100vw;
}

main {
    flex-direction: row-reverse;
    justify-content: space-around;
}

.blok1 {
    width: 200px;
    height: 200px;
    background-color: blue;
}

.blok2 {
    width: 200px;
    height: 200px;
    background-color: black;
}

.blok3 {
    width: 200px;
    height: 200px;
    background-color: red;
}

.blok4 {
    width: 200px;
    height: 200px;
    background-color: green;
}